.container-fluid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button{
  background-color: transparent;
  border-color: darkmagenta;
  border-radius: 10px;
  height: auto;
  width: auto;
  font-size: 25px;
  color: black;
}

button:hover{
  border-color: black;
  font-size: 27px;
  color: black;
}

.btn-repo{
  background-color: transparent;
  border-color: darkmagenta;
  border-radius: 10px;
  height: auto;
  width: auto;
  font-size: 15px;
  color: black;
}
.btn-repo:hover{
  border-color: black;
  font-size: 16px;
  color: black;
}
  .añadir{
      display: flex;
      justify-content: center;
      margin: 15px;
  }

  .editar{
      display: flex;
      justify-content: flex-end;
  }

  .card-img-top{
    height: 1S0px;
    width: auto;
  }
