button{
    background-color: transparent;
    border-color: darkmagenta;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-size: 25px;
    color: black;
  }

  button:hover{
    border-color: black;
    font-size: 27px;
    color: black;
  }

  .añadir{
      display: flex;
      justify-content: center;
      margin: 15px;
  }

  .modal-title{
    justify-content: center;
  }
