<section>
  <h2 class="titulos">Educación</h2>
  <div class="container-fluid">
    <div class="row" *ngFor="let pepito of educations">
      <div class="col-3">
        <img [src]="pepito.logo" class="imgEducac"/>
      </div>
      <div class="col-7">
        <h2>{{ pepito.nombre_titulo }}</h2>
        <h3>{{ pepito.instituto }}</h3>
        <p>{{ pepito.descripcion }}</p>
        <p>Fecha comienzo: {{ pepito.inicio }}</p>
        <p>Fecha fin: {{ pepito.fin }}</p>
        <p>{{ pepito.certificado }}</p>
      </div>
      <div class="col-2">
        <button
          (click)="onOpenModal('edit', pepito)"
          data-bs-toggle="modal"
          data-bs-target="#editEducationModal"
          data-bs-placement="top"
          title="Modificar"
          *ngIf="isLogged"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button
          (click)="onOpenModal('delete', pepito)"
          data-bs-toggle="modal"
          data-bs-target="#deleteEducationModal"
          data-bs-placement="top"
          title="Eliminar"
          *ngIf="isLogged"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
    <div class="añadir">
      <button
        data-bs-toggle="modal"
        data-bs-target="#addEducationModal"
        (click)="onOpenModal('add')"
        data-bs-placement="top"
        title="Añadir educación"
        *ngIf="isLogged"
      >
        <fa-icon [icon]="faAdd"></fa-icon>
      </button>
    </div>
  </div>

  <!--MODAL AÑADIR-->
  <div
    class="modal fade"
    id="addEducationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addEducationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEducationModalLabel">
            Añadir educación
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
            <div class="form-group">
              <label for="nombre_titulo">Titulo</label>
              <input
                type="text"
                ngModel
                name="nombre_titulo"
                class="form-control"
                id="nombre_titulo"
                placeholder="Titulo"
                required
              />
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <input
                type="text"
                ngModel
                name="descripcion"
                class="form-control"
                id="descripcion"
                placeholder="Descripción"
                required
              />
            </div>
            <div class="form-group">
              <label for="logo">Logo</label>
              <input
                type="text"
                ngModel
                name="logo"
                class="form-control"
                id="logo"
                placeholder="Logo"
                required
              />
            </div>
            <div class="form-group">
              <label for="instituto">Instituto</label>
              <input
                type="text"
                ngModel
                name="instituto"
                class="form-control"
                id="instituto"
                placeholder="Instituto"
                required
              />
            </div>
            <div class="form-group">
              <label for="certificado">Certificado</label>
              <input
                type="text"
                ngModel
                name="certificado"
                class="form-control"
                id="certificado"
                placeholder="Certificado"
                required
              />
            </div>
            <div class="form-group">
              <label for="inicio">Fecha de inicio</label>
              <input
                type="text"
                ngModel
                name="inicio"
                class="form-control"
                id="inicio"
                placeholder="Fecha de inicio"
                required
              />
            </div>
            <div class="form-group">
              <label for="fin">Fecha de finalización</label>
              <input
                type="text"
                ngModel
                name="fin"
                class="form-control"
                id="fin"
                placeholder="Fecha de fin"
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                id="add-education-form"
                class="btn btn-guardar"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                [disabled]="addForm.invalid"
                class="btn btn-guardar"
              >
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL EDITAR-->
  <div
    class="modal fade"
    id="editEducationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editEducationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEducationModalLabel">
            Editar educación {{editEducation?.nombre_titulo}}
          </h5>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" (ngSubmit)="onUpdateEducation(editForm)">
            <div class="form-group">
              <label for="name">Titulo</label>
              <input
                type="text"
                ngModel="{{ editEducation?.nombre_titulo }}"
                name="nombre_titulo"
                class="form-control"
                id="nombre_titulo"
                placeholder="Titulo"
                required
              />
            </div>
            <input
              type="hidden"
              ngModel="{{ editEducation?.id }}"
              name="id"
              class="form-control"
              id="id"
              placeholder=""
            />
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <input
                type="text"
                ngModel="{{ editEducation?.descripcion }}"
                name="descripcion"
                class="form-control"
                id="descripcion"
                placeholder="Descripción"
                required
              />
            </div>
            <div class="form-group">
              <label for="logo">Logo</label>
              <input
                type="text"
                ngModel="{{ editEducation?.logo }}"
                name="logo"
                class="form-control"
                id="logo"
                placeholder="Logo"
                required
              />
            </div>
            <div class="form-group">
              <label for="instituto">Instituto</label>
              <input
                type="text"
                ngModel="{{ editEducation?.instituto }}"
                name="instituto"
                class="form-control"
                id="instituto"
                placeholder="Instituto"
                required
              />
            </div>
            <div class="form-group">
              <label for="certificado">Certificado</label>
              <input
                type="text"
                ngModel="{{ editEducation?.certificado }}"
                name="certificado"
                class="form-control"
                id="certificado"
                placeholder="Certificado"
                required
              />
            </div>
            <div class="form-group">
              <label for="inicio">Fecha de inicio</label>
              <input
                type="text"
                ngModel="{{ editEducation?.inicio }}"
                name="inicio"
                class="form-control"
                id="inicio"
                placeholder="Fecha de inicio"
                required
              />
            </div>
            <div class="form-group">
              <label for="fin">Fecha de finalización</label>
              <input
                type="text"
                ngModel="{{ editEducation?.fin }}"
                name="fin"
                class="form-control"
                id="fin"
                placeholder="Fecha de fin"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="edit-education-form"
                class="btn"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit"

                class="btn"
              >
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal DELETE -->
  <div
    class="modal fade"
    id="deleteEducationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteEducationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEducationModalLabel">Eliminar educación</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <p>
            ¿Estás seguro que deseas eliminar esta educación?
            {{ deleteEducation?.nombre_titulo }}
          </p>
        </div>
          <div class="modal-footer">
            <button
              (click)="onDeleteEducation(deleteEducation!.id)"
              class="btn"
              data-bs-dismiss="modal">
              Si
            </button>
            <button
              type="button"
              class="btn"
              data-bs-dismiss="modal">
              No
            </button>

          </div>
        </div>
      </div>
    </div>
</section>
