<section id="experiencia">
    <h1 class="titulos">Experiencia laboral</h1>

    <div class="container-fluid">
        <div *ngFor="let item of experiencia" class="row" ngClass="border">
            <div class="col-2">
                <img [src]="item.url_img" class="img-fluid" alt="">
            </div>
            <div class="col-4">
                <h2>{{item.posicion}}</h2>
                <p>{{item.compania}} - {{item.modo}}</p>
                <p>{{item.inicio}} - {{item.fin}}</p>
            </div>
            <div class="col-4">
                <h2>Tecnologías usadas</h2>
                <p>{{item.descripcion}}</p>
            </div>
            <div class="col-2">
                <button data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar experiencia">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar experiencia">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="añadir">
        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir experiencia">
            <fa-icon [icon]="faAdd"></fa-icon>
        </button>
    </div>
</section>
