<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 align-self-center flex-container">
                <div>
                <img src="../../../assets/images/APLogo-20-20.png" class="logoap rounded float-left"
                    alt="logo argentina programa" height="100px">
                </div>
                <div>
                <p id="argprog"> Argentina Programa-#YoProgramo</p>
                </div>
            </div>
            <div class="col-5 social-media flex-container">
                <div>
                    <a class="button" href="https://twitter.com/vickimathurin">
                        <i class="fab fa-twitter icon"></i>
                    </a>
                </div>
                <div>
                    <a class="button" href="https://www.facebook.com/vickimathurin/">
                        <i class="fab fa-facebook-f icon"></i>
                    </a>
                </div>
                <div>
                    <a class="button" href="https://www.instagram.com/vickimathu/">
                        <i class="fab fa-instagram icon"></i>
                    </a>
                </div>
                <div>
                    <a class="button" href="https://github.com/VickiMat">
                        <i class="fab fa-github icon"></i>
                    </a>
                </div>
            </div>
            <div class="col-4 editar">
                <button><a href="/login" class="login">Iniciar sesión</a></button>
            </div>
        </div>
    </div>
    <!--menu para acceder a las distintas secciones, ver si se puede mover al centro-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="MenuNav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-3 navbar-center">
                        <li class="nav-item"><a class="nav-link" href="#about">Sobre mí</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Experiencia</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Estudios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Proyectos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <div class="container-fluid banner">


    </div>
</header>
