<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 align-self-center">
                <img src="../../../assets/images/APLogo-20-20.png" class="logoap rounded float-left" alt="logo argentina programa"
                    height="100px">
                <p id="argprog"> Argentina Programa-#YoProgramo</p>
            </div>
            <div class="col-9 editar">
                <a href="login.html" class="login">Iniciar sesión</a>
            </div>
        </div>
    </div>
    <!--menu para acceder a las distintas secciones, ver si se puede mover al centro-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="MenuNav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item"><a class="nav-link" href="#about">Sobre mí</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Experiencia</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Estudios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Proyectos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <div class="banner">
        <div class="nombre-titulo">
            <h1>{{persona.fullName}}</h1>
            <br/>
            <h3>{{persona.position}}</h3>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/perfilimg.jpg" alt="foto de perfil" id="foto-perfil">
            <div class="editar-img">
                <button class="boton-edicion-img" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Modificar imagen"><fa-icon [icon]="faEdit"></fa-icon></button>
            </div>
        </div>
    </div>
</header>
