<footer id="contacto" class="titulos">Datos de contacto
    Mis redes
    <!-- redes sociales barra-->
    <div class="wrapper">
        <a class="button" href="https://www.facebook.com/vickimathurin/">
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
            </div>
            <span>Facebook</span>
        </a>
        <a class="button" href="https://twitter.com/vickimathurin">
            <div class="icon">
                <i class="fab fa-twitter"></i>
            </div>
            <span>Twitter</span>
        </a>
        <a class="button" href="https://www.instagram.com/vickimathu/">
            <div class="icon">
                <i class="fab fa-instagram"></i>
            </div>
            <span>Instagram</span>
        </a>
        <a class="button" href="https://github.com/VickiMat">
            <div class="icon">
                <i class="fab fa-github"></i>
            </div>
            <span>Github</span>
        </a>
    </div>
</footer>