 <!-- descripcion personal-->
 <section id="about">
    <div class="about">
        <h2 class="titulos about">Acerca de mí<button class="boton-edicion" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Modificar descripción"><fa-icon [icon]="faEdit" class="fa-white"></fa-icon></button></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quam natus! Voluptates, laboriosam?
        Itaque libero consequatur, delectus, molestiae consectetur optio animi similique voluptatibus
        ea ratione dolor aliquid deleniti suscipit officia.</p>
    </div>
</section>