.flex-about{
  display: flex;
  align-items: auto;
  justify-content: space-between;
}


.fa-white{
  color:white;
  background-color: none;
}

button{
  background-color: transparent;
  border-color: darkmagenta;
  border-radius: 10px;
  
}

button:hover{
  border-color: white;
}


.modal-header{
  background-color: rgba(178,133,199,1);
  color:white;
  justify-content: center;
}

.modal-footer{
  background-color: rgba(178,133,199,0.30);
}
.modal-body{
  background-color: rgba(178,133,199,0.30);
}
.btn-footer{
  background-color: rgba(178,133,199,1);
}
