

button{
  background-color: transparent;
  border-color: darkmagenta;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  font-size: 25px;
}



p{
  font-size: 20px;
}
button:hover{
  border-color: black;
  font-size: 30px;
}

.btn-guardar {
  background-color: transparent;
  border-color: darkmagenta;
  border-radius: 10px;
  height: auto;
  width: auto;
  font-size: 25px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  justify-content: center;

}

.item2 {
  display: flex;
  grid-row: 1 / span 2;
  grid-column: 2;
  justify-content: space-evenly;
}

.item1{
  justify-content: center;
}
img{
  max-width: 200px;
  max-height: 200px;
}
#foto-perfil{
  border-radius: 50%;
  overflow: hidden;
  height: auto;
  border: solid 3px rgba(178,133,199,1);
  position: relative;
  width: 200px;
}

.container-fluid{
  display: flex;
  justify-content: center;
}

.item3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


h4{
  margin:5px;
}
.modal-header{
  background-color: rgba(178,133,199,1);
  color:white;
  justify-content: center;
}

.modal-footer{
  background-color: rgba(178,133,199,0.30);
}
.modal-body{
  background-color: rgba(178,133,199,0.30);
}
.btn-footer{
  background-color: rgba(178,133,199,1);
}
